[Unit]
Description=Cortana Companion
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/CortanaCompanion/CortanaCompanion.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
